<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Index</title>
</head>
<body>

    {{body}}
    {{#each products}}
    <div class="product-name">
        <h2>{{name}}</h2>
    </div>
    {{/each}}

</body>
</html>