@import url("https://fonts.googleapis.com/css?family=Alegreya+SC:700");
#banner {
  display: flex;
  justify-content: space-evenly;
  font-family: 'Alegreya SC', serif;
  font-size: 30px;
  border-bottom: 2px solid white; }

.button-panel {
  display: flex;
  flex-wrap: wrap;
  align-content: center; 
  justify-content: center;
  padding-left: 10px;
}

.button {
  background: transparent;
  color: #B3E5FC;
  border: 2px solid #B3E5FC;
  font-size: 20px;
}

h1 {
  margin: 0px; }

body {
  background: #34495E;
  color: white; }

#product-name {
  text-align: center;
  padding-left: 5%;
  padding-top: 10px; }
