<!DOCTYPE html>

    <html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Index</title>
</head>
<body>
    <div class="banner"></div>
    {{body}}
    {{#each products}}
    <div class="product-name">
        <h2>{{name}}</h2>
        <h6>{{id}}</h6>
        <form action="/products/{{id}}" method = "GET">
            <button type="submit">Visit</button>
        </form>
    </div>
    {{/each}}
    <div>
        <form action="/products/new" method="GET">
            <button type="submit">Add New Product</button>
        </form>
    </div>

</body>
</html>