<!DOCTYPE html>

    <html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Index</title>
</head>
<body>
    <div id="banner">
        <h1>Articles</h1>
        <form class="button-panel" action="/articles/new" method="GET">
            <button class="button" type="submit">Add New Article</button>
        </form>
    </div>
    {{#if articles}}
        {{#each articles}}
        <div class="article-title">
            <h2>{{title}}</h2>
            <h6>{{author}}</h6>
            <form action="/articles/{{title}}" method = "GET">
                <button class="button" type="submit">Visit</button>
            </form>
        </div>
        {{/each}}
    {{else}}
        <div class="article-title">
            <p>No articles available</p>
        </div>
    {{/if}}
</body>
</html>